# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Noob\Desktop\c0920i1_VuTuanAnh\Project-CodeGym\Module2\11-16-2020\pra-refactoring-var\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
